{% extends "layout.html" %}
{% block body %}
    <div class='index'>
        <table>
            <tr>
                <th>Id</th>
                <th>Series</th>
                <th>Review</th>
                <th>GameCount</th>
                <th>First Release</th>
                <th>Last Release</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {{ form.hidden_tag() }}
            {% for series in all_series %}
                {% if series.series_name != "n/a" %}
                <tr>
                    <td>{{ series.id }}</td>
                    <td>{{ series.series_name }}</td>
                    <td>{{ series.series_review }}/10</td>
                    <td>{{ series.series_count }}</td>
                    <td>{{ series.first_release }}</td>
                    <td>{{ series.latest_release }}</td>
                    <td><form method="GET" action="{{ url_for('updateseries', id=series.id) }}">
                        <input type="submit" name = "action" value="update">
                    </form></td>
                    <td><form method="POST" action="./deleteseries">
                        <input type="hidden" value="{{series.id}}" name="id">
                        <input type="submit" name = "action" value="delete">
                    </form></td>
                </tr>
                {% endif %}
                
            {% endfor %}
        </table>
    </div>
{% endblock body %}