{% extends "layout.html" %}
{% block body %}
    <div class='readgame'>
        <table>
            <tr>
                <th>Id</th>
                <th>Game</th>
                <th>Series</th>
                <th>Developer</th>
                <th>Release Year</th>
                <th>Review</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {{ form.hidden_tag() }}
            {% for game in all_games %}
                <tr>
                    <td>{{ game.game_id }}</td>
                    <td>{{ game.name }}</td>
                    <td>{{ game.series }}</td>
                    <td>{{ game.developer}}</td>
                    <td>{{ game.release_dateuk}}</td>
                    <td>{{ game.game_review}}/10</td>
                    <td><form method="GET" action="{{ url_for('updategame', id=game.game_id) }}">
                        <input type="submit" name = "action" value="update">
                    </form></td>
                    <td><form method="POST" action="./deletegame">
                        <input type="hidden" value="{{game.game_id}}" name="game_id">
                        <input type="submit" name = "action" value="delete">
                    </form></td>
                </tr>
                
            {% endfor %}
        </table>
    </div>
{% endblock body %}