{% extends "layout.html" %}

{% block body %}
<h2>Update Game</h2>
    <div class='form'>
        <form method='POST' action=''>
            <input type="hidden" value="{{game.game_id}}" name="id">
            {{ form.hidden_tag() }}
            items denoted by '*' are required 
            <br>
            {{ form.name.label }}* {{ form.name}} 
            <br>
            {{ form.series.label }} {{ form.series}} 
            <br>
            {{ form.developer.label }}* {{ form.developer}} 
            <br>
            {{ form.releasedate.label }}* {{ form.releasedate}} 
            <br>
            {{ form.review.label }}* {{ form.review}} 
            {% if form.releasedate.errors %}
                <div class='error'>
                    {% for error in form.releasedate.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.review.errors %}
                <div class='error'>
                    {% for error in form.review.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.submit }}
        {{ message }}
        </form>
    </div>
{% endblock body %}