{% extends "layout.html" %}
{% block body %}
    <div class='form'>
        <form method='POST' action=''>
            <input type="hidden" value="{{game.game_id}}" name="id">
            {{ form.hidden_tag() }}
            items denoted by '*' are required 
            <br>
            {{ form.name.label }}* {{ form.name}} 
            <br>
            {{ form.series.label }} {{ form.series}} 
            <br>
            {{ form.developer.label }}* {{ form.developer}} 
            <br>
            {{ form.review.label }}* {{ form.review}} 
            {{ form.submit }}
        {{ message }}
        </form>
    </div>
{% endblock body %}